# Compute aggregate metrics for all muscles from pre-computed datasets

In [140]:
%reset -f
%load_ext autoreload
%autoreload 2
#matplotlib figure size
from pylab import rcParams
rcParams['figure.figsize'] = 10, 10
from custom_imports import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [141]:
df = pd.read_csv("../data/prediction_stats_v01.csv")

res = df.groupby(['metric', 'muscle'])[['value']].mean()# .reset_index().set_index('metric')
res = res.unstack(1)['value']
res.loc['90_degree_lever_arm'] = res.loc['lever_arm_89.8_distance']
res.drop('lever_arm_89.8_distance', axis=0)
res.index = res.index.map(str.title).map(lambda x: x.replace('_', ' '))
res = res.sort_values(-1, na_position='first').round(2).fillna('N/A')
res['all'] = res[-1]
res = res.drop(-1, axis=1)
res

muscle,0,1,2,3,4,5,6,7,8,9,10,11,all
metric,,,,,,,,,,,,,
Accuracy,0.91,0.97,0.88,0.87,0.89,0.9,0.97,0.97,0.95,0.95,0.96,0.94,N/A
Area Ratio,1.4,2.13,2.28,2.53,2.47,1.32,1.33,1.57,1.66,1.7,1.72,1.71,N/A
Center Distance,0.41,0.74,0.74,0.87,0.76,0.5,0.5,0.46,0.5,0.67,0.74,0.52,N/A
Lever Arm 89.8 Distance,0.01,0.6,0.62,0.69,0.59,0.33,0.36,0.29,0.28,0.37,0.36,0.36,N/A
Precision,0.97,1,1,1,0.99,0.99,0.99,0.99,1,1,0.99,0.99,N/A
Recall,0.91,0.97,0.88,0.87,0.89,0.9,0.97,0.97,0.95,0.95,0.96,0.94,N/A
90 Degree Lever Arm,0.01,0.6,0.62,0.69,0.59,0.33,0.36,0.29,0.28,0.37,0.36,0.36,N/A
Total Accuracy,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,0.93

In [157]:
df = pd.read_csv("../data/prediction_stats_v02.csv").fillna(0)

res = df.groupby(['metric', 'muscle'])[['value']].mean()# .reset_index().set_index('metric')
res = res.unstack(1)['value']
res.loc['90_degree_lever_arm'] = res.loc['lever_arm_89.8_distance']
res.drop('lever_arm_89.8_distance', axis=0)
res.index = res.index.map(str.title).map(lambda x: x.replace('_', ' '))
res = res.sort_values(-1, na_position='first').round(2).fillna('N/A')
res['all'] = res[-1]
res = res.drop(-1, axis=1)
res = res.drop([0, 12, 14, 16, 18, 19, 22], axis=1).drop('Lever Arm 89.8 Distance')

In [158]:
tmp_ = res.loc[['Accuracy', 'Precision', 'Recall']].copy()
tmp_.loc['Accuracy', 'all'] = res.loc['Total Accuracy', 'all']
tmp_.rename(columns={'all': 'Total'})

muscle,1,2,3,4,5,6,7,8,9,10,11,Total
metric,,,,,,,,,,,,
Accuracy,0.96,0.86,0.83,0.83,0.84,0.97,0.97,0.94,0.94,0.94,0.93,0.92
Precision,0.7,0.46,0.42,0.36,0.38,0.74,0.73,0.62,0.6,0.57,0.62,N/A
Recall,0.96,0.86,0.83,0.83,0.84,0.97,0.97,0.94,0.94,0.94,0.93,N/A

In [159]:
tmp_ = res.loc[['Center Distance', '90 Degree Lever Arm', 'Area Ratio']].copy()
tmp_.drop('all', 1)# rename(columns={'all': 'Total'})

muscle,1,2,3,4,5,6,7,8,9,10,11
metric,,,,,,,,,,,
Center Distance,2.05,1.81,2.81,2.54,1.84,1.88,1.91,2,3.35,3.1,1.27
90 Degree Lever Arm,1.02,1.04,0.78,0.75,0.5,0.52,0.48,0.49,0.59,0.53,0.45
Area Ratio,1.98,2.12,2.71,2.58,2.1,2.35,2.02,2.1,2.01,1.87,1.83

In [187]:
df = pd.read_csv("../data/prediction_stats_v03.csv").fillna(0)

res = df.groupby(['metric', 'muscle'])[['value']].mean()# .reset_index().set_index('metric')
res = res.unstack(1)['value']
res.loc['90_degree_lever_arm'] = res.loc['lever_arm_89.8_distance']
res.drop('lever_arm_89.8_distance', axis=0)
res.index = res.index.map(str.title).map(lambda x: x.replace('_', ' '))
res = res.sort_values(-1, na_position='first').round(2).fillna('N/A')
res['all'] = res[-1]
res = res.drop(-1, axis=1)
res = res.drop([0, 12, 14, 16, 18, 19, 22], axis=1).drop('Lever Arm 89.8 Distance')
res

muscle,1,2,3,4,5,6,7,8,9,10,11,all
metric,,,,,,,,,,,,
Accuracy,1,1,1,0.99,0.99,0.99,0.99,0.99,0.99,0.98,0.99,N/A
Area Difference,4.46,4.7,11.06,10.42,11.43,11.73,7.53,7.56,22.51,21.75,8.35,N/A
Area Ratio,1.98,2.12,2.73,2.59,2.11,2.36,2.02,2.1,2.01,1.87,1.83,N/A
Center Distance,2.06,1.82,2.82,2.56,1.85,1.9,1.92,2.01,3.37,3.1,1.2,N/A
Precision,0.7,0.46,0.42,0.36,0.38,0.74,0.73,0.63,0.6,0.57,0.61,N/A
Recall,0.96,0.86,0.83,0.83,0.84,0.97,0.97,0.94,0.94,0.94,0.93,N/A
90 Degree Lever Arm,1.02,1.04,0.78,0.75,0.51,0.52,0.48,0.49,0.59,0.53,0.44,N/A
Total Accuracy,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,0.92

In [188]:
tmp_ = res.loc[['Accuracy', 'Precision', 'Recall']].copy()
tmp_.loc['Accuracy', 'all'] = res.loc['Total Accuracy', 'all']
tmp_.rename(columns={'all': 'Total'})

muscle,1,2,3,4,5,6,7,8,9,10,11,Total
metric,,,,,,,,,,,,
Accuracy,1,1,1,0.99,0.99,0.99,0.99,0.99,0.99,0.98,0.99,0.92
Precision,0.7,0.46,0.42,0.36,0.38,0.74,0.73,0.63,0.6,0.57,0.61,N/A
Recall,0.96,0.86,0.83,0.83,0.84,0.97,0.97,0.94,0.94,0.94,0.93,N/A

In [189]:
tmp_ = res.loc[['Center Distance', '90 Degree Lever Arm', 'Area Ratio', 'Area Difference']].copy()
tmp_.index = ['Center Distance (cm)', '90 Degree Lever Arm Difference (cm)', 
              'Area Ratio', 'Area Difference (cm$^2$)']
tmp_.drop('all', 1)# rename(columns={'all': 'Total'})

muscle,1,2,3,4,5,6,7,8,9,10,11
Center Distance (cm),2.06,1.82,2.82,2.56,1.85,1.9,1.92,2.01,3.37,3.1,1.2
90 Degree Lever Arm Difference (cm),1.02,1.04,0.78,0.75,0.51,0.52,0.48,0.49,0.59,0.53,0.44
Area Ratio,1.98,2.12,2.73,2.59,2.11,2.36,2.02,2.1,2.01,1.87,1.83
Area Difference (cm$^2$),4.46,4.7,11.06,10.42,11.43,11.73,7.53,7.56,22.51,21.75,8.35

In [186]:
df[df['value'].isna()]

,Unnamed: 0,metric,id,muscle,value,n_muscles
17434,17434,recall,../data/mri_analysis/1.Multigroup Set#1_DONE/W...,11,NaN,9
17439,17439,recall,../data/mri_analysis/1.Multigroup Set#1_DONE/W...,11,NaN,9
17440,17440,recall,../data/mri_analysis/1.Multigroup Set#1_DONE/W...,11,NaN,9
17441,17441,recall,../data/mri_analysis/1.Multigroup Set#1_DONE/W...,11,NaN,9
17454,17454,recall,../data/mri_analysis/1.Multigroup Set#1_DONE/C...,11,NaN,9
...,...,...,...,...,...,...
61646,41272,recall,../data/mri_analysis/2.Multigroup Set#2/Contro...,16,NaN,11
61695,41321,recall,../data/mri_analysis/1.Multigroup Set#1_DONE/W...,18,NaN,11
61820,41446,recall,../data/mri_analysis/2.Multigroup Set#2/Weight...,4,NaN,11
61844,41470,recall,../data/mri_analysis/2.Multigroup Set#2/Weight...,4,NaN,11
61845,41471,recall,../data/mri_analysis/2.Multigroup Set#2/Weight...,5,NaN,11